@model DotNetCoreSqlDb.Models.Task
@using DotNetCoreSqlDb.Helpers;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit task</h1>

<a asp-action="Delete" asp-route-id="@Model.Id" asp-route-team="@ViewBag.Team" asp-route-width="@ViewBag.Width" asp-route-all="@ViewBag.All" class="float-right btn btn-sm btn-danger">Delete</a>
<h2 class="h4">@Model.Resource.Name - @Model.Date.ToString("yyyy-MM-dd")</h2>

<hr />
<form asp-action="Edit" id="form">
    <div class="row">
        <div class="col-xl-2 col-lg-3 col-sm-4 col-6 order-md-2 offset-md-2 offset-6">
            <h4>Presets:</h4>
            <button type="button" data-color="success" data-location="Ejby"
                    class="prefill btn btn-block btn-success">
                Ejby
            </button>
            <button type="button" data-color="primary" data-location="Grønningen"
                    class="prefill btn btn-block btn-primary">
                Grønningen
            </button>
            <button type="button" data-color="info" data-location="Hjemme"
                    class="prefill btn btn-block btn-info">
                Hjemme
            </button>
            <button type="button" data-color="danger" data-location="Ferie"
                    class="prefill btn btn-block btn-danger">
                Ferie
            </button>
            <button type="button" data-color="secondary" data-location=""
                    class="prefill btn btn-block btn-secondary">
                Andet
            </button>
            <hr />
        </div>

        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResourceId" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" name="Team" value="@ViewBag.Team" />
            <input type="hidden" name="All" value="@ViewBag.All" />
            <input type="hidden" name="Width" value="@ViewBag.Width" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskColor" class="control-label d-block"></label>

                @foreach (Color value in Enum.GetValues(typeof(Color)).Cast<Color>().ToArray().OrderBy(e => e.DisplayOrder()))
                {
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="TaskColor" value="@value" class="form-check-input" id="color-@value.ToString().ToLower()" />
                        <label class="form-check-label badge badge-@value.ToString().ToLower()"
                               for="color-@value.ToString().ToLower()">Location</label>
                    </div>
                }
                <span asp-validation-for="TaskColor" class="text-danger d-block"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Calendar" asp-action="Index" asp-route-team="@ViewBag.Team" asp-route-all="@ViewBag.All" asp-route-width="@ViewBag.Width">Back to Calendar</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.prefill').click(function () {
            $("#Title").val($(this).data('location'));
            $("#color-" + $(this).data('color')).prop('checked', true);
            $("#form").submit();
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
